<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en" ng-app="coronaApp">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script data-ad-client="ca-pub-9078814640726351" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
    <meta name="description"
        content="Access all the latest and updated corona virus/Covid-19 statistics from China and the rest of the world." />
    <link rel="icon" href="../coronacount/images/icon.ico" />
    <title>World Current Corona Statistics</title>
    <link rel="stylesheet" href="./assets/index.css">
</head>

<body ng-controller="coronaController">
    <div id="map"></div>
    <div class="loader" ng-if="isLoading">
        <h2 class="animate">Loading</h2>
    </div>
    <div class="title-bar">
        <h1 class="title-bar__head">
            CORONA TRACKER
        </h1>
        <div></div>
        <img src="./images/right.svg" alt="" class="title-bar__button-bg">
        <div class="title-bar__button">
            <button id="myBtn" class="fill">MORE STATISTICS</button>
        </div>
    </div>
    <section class="section">
        <div class="section-map">
        </div>
        <aside class="section-stats">
            <div class="section-stats__holder section-stats__holder-cases">
                <p>Total Cases</p>
                <div class="counter counter-cases" id="counter-cases" data-target="0">
                    {{total_cases}}
                </div>
            </div>
            <div class="section-stats__holder section-stats__holder-survivors">
                <p>Total Recoveries</p>
                <div class="counter counter-survivors" id="counter-survivors" data-target="0">
                    {{recovery_cases}}
                </div>
            </div>
            <div class="section-stats__holder section-stats__holder-deaths">
                <p>Total Deaths</p>
                <div class="counter counter-deaths" id="counter-deaths" data-target="0">
                    {{death_cases}}
                </div>
            </div>
        </aside>
    </section>




    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div class="modal-body__others">
                    <h2 style="text-align: center;">WORLD WIDE STATISTICS</h2><br><hr><br>
                    <div>
                        Last Update: {{last_update}}
                    </div>
                    <div>
                        Recovered Closed Cases: {{recovered_closed_cases}}
                    </div>
                    <div>
                        General Death Rate: {{general_death_rate}} %
                    </div>
                    <div>
                        Death Closed Cases: {{death_closed_cases}}
                    </div>
                    <div>
                        Mild Condition Active Cases: {{mild_condition_active_cases}}
                    </div>
                    <div>
                        Currently Infected: {{currently_infected}}
                    </div>
                    <div>
                        Critical Condition Active Cases: {{critical_condition_active_cases}}
                    </div>
                    <div>
                        Closed Cases Recovered Percentage: {{closed_cases_recovered_percentage}} %
                    </div>
                    <div>
                        Closed Cases Death Percentage: {{closed_cases_death_percentage}} %
                    </div>
                    <div>
                        Closed With Outcome: {{cases_with_outcome}}
                    </div>

                    <div>
                        Active Cases Mild Percentage: {{active_cases_mild_percentage}} %
                    </div>
                    <div>
                        Active Cases Critical Percentage: {{active_cases_critical_percentage}} %
                    </div>
                </div>
                <div class="modal-body__search">
                    <input type="text" placeholder="Search by country" ng-model="param" ng-change="searchCountries()">
                </div>
                <div class="modal-body__countries">
                    <div class="modal-body__error" ng-show="countries.length === 0"
                        style="width: 100%;
                        background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url({{country.flag}});">
                        <div class="title" id="country-title">Country not found!</div>
                    </div>
                    <div class="modal-body__countries-country" id="country" ng-repeat="country in countries"
                        ng-show="countries.length > 0">
                        <div class="modal-body__countries-img">
                            <img src="{{country.flag}}" alt="">
                        </div>
                        <div class="modal-body__countries-stats"
                            style="
                        background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url({{country.flag}});">
                            <div class="title" id="country-title">{{country.country}}</div>
                            <div class="line"></div>
                            <div class="numbers">
                                <span class="deaths" id="country-deaths">
                                    <b>Deaths: {{country.total_deaths}}</b>
                                </span>
                                <span class="recoveries" id="country-recoveries">
                                    <b>Recoveries: {{country.total_recovered}}</b>
                                </span>
                                <span class="cases" id="country-cases">
                                    <b>Cases: {{country.total_cases}}</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>


</body>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script>
    //open modal

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    angular.module('coronaApp', []).controller('coronaController', ($scope, $http) => {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2F2YWxpa2l0dWt1IiwiYSI6ImNrMjIxczBhMzA3bWMzY3Fvc2RydzQxd3UifQ.hNGtZUh5syY9E684sH54bg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/dark-v10',
            center: [-79.999732, 40.4374],
            zoom: 1,
            maxZoom: 4,
            minZoom: 1
        });

        map.on('load', function () {
            //On map load, we want to do some stuff
            map.addLayer({
                //here we are adding a layer containing the tileset we just uploaded
                id: 'countries', //this is the name of our layer, which we will need later
                source: {
                    type: 'vector',
                    url: 'mapbox://savalikituku.7bsz6ujr', // <--- Add the Map ID you copied here
                },
                'source-layer': 'ne_10m_admin_0_countries-cxnhz2', // <--- Add the source layer name you copied here
                type: 'fill',
                paint: {
                    // 'fill-color': "", //this is the color you want your tileset to have (I used a nice purple color)
                    // 'fill-outline-color': 'grey', //this helps us distinguish individual countries a bit better by giving them an outline
                    'fill-opacity': 0.2
                },
            });

            for (i = 0; i < $scope.countries.length; i++) {
                map.setPaintProperty('countries', 'fill-color',
                    [
                        'interpolate',
                        ['linear'],
                        ['>', $scope.countries[i].total_cases, 10],
                        0,
                        'yellow',
                        4,
                        'red',
                        750000,
                        '#E6B71E',
                        1000000,
                        '#DA9C20',
                        2500000,
                        '#CA8323',
                        5000000,
                        '#B86B25',
                        7500000,
                        '#A25626',
                        10000000,
                        '#8B4225',
                        25000000,
                        'blue'
                    ]
                );
            }


            map.setFilter('countries', ['in', 'ISO_A2'].concat([$scope.countries]));
        });

        var popup = new mapboxgl.Popup({
            closeButton: false
        });
        map.on('mousemove', 'countries', function (mapElement) {
            const countryCode = mapElement.features[0].properties.ISO_A2; // Grab the country code from the map properties.
            fetch(`https://restcountries.eu/rest/v2/alpha/${countryCode}`) // Using tempalate tags to create the API request
                .then((data) => data.json()) //fetch returns an object with a .json() method, which returns a promise
                .then((country) => { //country contains the data from the API request
                    // Let's build our HTML in a template tag
                    let total_cases, new_cases, total_deaths, new_deaths, total_recovered, active_cases, serious_critical, cases_per_mill_pop = 0;
                    $scope.countries.forEach((ctr) => {
                        if (ctr.country_abbreviation === countryCode) {
                            this.total_cases = ctr.total_cases
                            this.new_cases = ctr.new_cases
                            this.total_deaths = ctr.total_deaths
                            this.new_deaths = ctr.new_deaths
                            this.total_recovered = ctr.total_recovered
                            this.active_cases = ctr.active_cases
                            this.serious_critical = ctr.serious_critical
                            this.cases_per_mill_pop = ctr.cases_per_mill_pop
                        }
                    })
                    const html = ` 
        <img src='${country ? country.flag : ''}' width="180" /> 
        <ul>
          <li style="list-style:none; color: black"><h3><b>${country ? country.name : ''}</b></h3></li>
          <li style="list-style:none; color: grey"><strong>Total Population:</strong> <b>${country ? country.population : ''}</b></li>
          <li style="list-style:none; color: grey"><strong>Total Cases:</strong> <b>${this.total_cases}</b></li>
          <li style="list-style:none; color: grey"><strong>New Cases:</strong> <b>+${this.new_cases}</b></li>
          <li style="list-style:none; color: grey"><strong>Total Deaths:</strong> <b>${this.total_deaths}</b></li>
          <li style="list-style:none; color: grey"><strong>New Deaths:</strong> <b>+${this.new_deaths}</b></li>
          <li style="list-style:none; color: grey"><strong>Total Recovered:</strong> <b>${this.total_recovered}</b></li>
          <li style="list-style:none; color: grey"><strong>Active Cases:</strong> <b>${this.active_cases}</b></li>
          <li style="list-style:none; color: grey"><strong>Serious critical cases:</strong> <b>${this.serious_critical}</b></li>
          <li style="list-style:none; color: grey"><strong>Cases per million population:</strong> <b>${this.cases_per_mill_pop}%</b></li>
        </ul>
      `; // Now we have a good looking popup HTML segment.
                    popup//Create a new popup
                        .setLngLat(mapElement.lngLat) // Set where we want it to appear (where we clicked)
                        .setHTML(html) // Add the HTML we just made to the popup
                        .addTo(map); // Add the popup to the map
                });
        });

        map.on('mousemove', 'countries', function (mapElement) {
            popup //Create a new popup
                .remove()
        });




        $scope.getStats = () => {
            $scope.isLoading = true;
            $http({
                method: 'GET',
                url: 'https://corona-virus-stats.herokuapp.com/api/v1/cases/general-stats'
            }).then(data => {
                const { total_cases, death_cases, recovery_cases, last_update, recovered_closed_cases,
                    general_death_rate, death_closed_cases, mild_condition_active_cases, currently_infected
                ,critical_condition_active_cases, closed_cases_recovered_percentage, closed_cases_death_percentage,
                cases_with_outcome, active_cases_mild_percentage, active_cases_critical_percentage
                } = data.data.data;
                $scope.death_cases = death_cases
                $scope.total_cases = total_cases
                $scope.recovery_cases = recovery_cases
                $scope.last_update = last_update
                $scope.recovered_closed_cases = recovered_closed_cases
                $scope.general_death_rate = general_death_rate
                $scope.death_closed_cases = death_closed_cases
                $scope.mild_condition_active_cases = mild_condition_active_cases
                $scope.currently_infected = currently_infected
                $scope.critical_condition_active_cases = critical_condition_active_cases
                $scope.closed_cases_recovered_percentage = closed_cases_recovered_percentage
                $scope.closed_cases_death_percentage = closed_cases_death_percentage
                $scope.cases_with_outcome = cases_with_outcome
                $scope.active_cases_mild_percentage = active_cases_mild_percentage
                $scope.active_cases_critical_percentage = active_cases_critical_percentage
                $scope.isLoading = false;
            })
                .catch(err => this.isLoading = false);
        }
        $scope.getStats()
        $scope.getCountries = () => {
            $scope.isLoading = true;
            $http({
                method: 'GET',
                url: 'https://corona-virus-stats.herokuapp.com/api/v1/cases/countries-search?limit=1000'
            }).then((res) => {
                $scope.isLoading = false;
                $scope.countries = res.data.data.rows
            })
                .catch((err) => this.isLoading = false)
        }

        $scope.searchCountries = () => {
            $http({
                method: 'GET',
                url: `https://corona-virus-stats.herokuapp.com/api/v1/cases/countries-search?limit=1000&search=${$scope.param}`
            }).then((res) => {
                $scope.countries = res.data.data.rows
            })
        }

        $scope.getCountries();

    })
</script>

</html>