@import url("https://fonts.googleapis.com/css?family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(51, 51, 51);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1,
section {
  color: rgb(207, 207, 207);
}
h1 {
  text-align: center;
  font-size: 4rem;
  height: 200px;
}

.title-bar {
  display: grid;
  grid-template-columns: 1fr;
  padding: .5rem 2.5rem;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  &__head {
    display: grid;
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #fff;
    height: 100px;
  }
  &__button {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-size: 14px;
    display: grid;
    justify-content: center;
    // padding: .rem;
    z-index: inherit;
    &-bg {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      width: 100px;
      z-index: -1;
      position: fixed;
      display: none;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100%);
  &-map {
    display: none;
  }
  &-stats {
    display: grid;
    font-family: "Nunito", sans-serif;
    grid-template-rows: repeat(.5fr);
    gap: 1rem;
    place-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: rgba(29, 29, 29, 0.6);
    z-index: 100;
    margin-top: 170px;
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 115px);
    &__holder {
      z-index: 1;
      position: relative;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-weight: bolder;
      p {
        color: 1rem;
      }
      &-deaths {
        p {
          color: red;
        }
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 0, 0, 0.33) 26.04%,
          rgba(240, 181, 181, 0) 48.44%,
          rgba(254, 0, 0, 0) 75%,
          rgba(255, 160, 160, 0) 99.98%
        );
      }
      &-survivors {
        p {
          color: rgb(0, 255, 0);
        }
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(125, 242, 179, 0.33) 26.56%,
          rgba(181, 240, 201, 0) 48.44%,
          rgba(81, 254, 0, 0) 75%,
          rgba(160, 255, 187, 0) 99.98%
        );
      }
      &-cases {
        p {
          color: rgb(14, 255, 255);
        }
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(125, 144, 242, 0.33) 29.17%,
          rgba(181, 205, 240, 0) 48.44%,
          rgba(0, 41, 254, 0) 75%,
          rgba(160, 181, 255, 0) 99.98%
        );
      }
    }
    .counter {
      width: 100%;
      display: grid;
      place-items: center;
      height: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: bolder;
    }

    p {
      text-align: center;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.8);
  &-body {
    &__others{
      width: 100%;
      background: #fff;
       padding: 1.75rem .85rem;
       & div{
         padding-top: .5rem;
         color: rgb(36, 36, 36);
       }
    }
    &__search {
      background: rgba(255, 255, 255, 0.95);
      top: 0;
      position: sticky;
      height: 52.21px;
      margin: auto;
      input {
        width: 100%;
        margin: auto;
        height: 52.21px;
        // font-family: Sansita;
        height: 100%;
        text-align: center;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px rgb(116, 116, 116);
        font-size: 1rem;
        line-height: 22px;
        border: none;
        outline: none;
        color: rgb(7, 7, 7);
        ::placeholder {
          color: #636363;
        }
      }
    }

    &__countries {
      margin-top: 1.5rem;
      //Remove
      background: #191a1a;
      overflow: auto;
      &-country {
        width: 100%;
        margin-bottom: 1.8rem;
        display: grid;
        grid-template-columns: 1fr;
      }
      &-img {
        display: grid;
        place-items: center;
        img {
          width: 100%;
          height: 100%;
        }
        @media screen and (max-width: 768px) {
          img {
            display: none;
          }
        }
      }
      &-stats {
        // width: 100%;
        background-size: contain;
        padding: 1rem;
        .title {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 27px;
          color: #000;
        }
        .line {
          background-image: linear-gradient(to right, rgb(224, 224, 224), rgb(119, 119, 119), rgb(224, 224, 224));
          height: 0.2rem;
          width: 100%;
          margin-top: 0.5rem;
          margin-bottom: 0.3rem;
        }
        .numbers {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          font-weight: bolder;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
          .deaths {
            color: red;
          }
          .recoveries {
            color: green;
            text-align: center;
          }
          .cases {
            color: #000;
            text-align: right;
          }
        }
      }
    }

    &__error {
      color: red;
      margin: auto;
      width: 100%;
      height: 100px;
      padding: 2rem;
      font-weight: bolder;
      margin-bottom: 0rem;
    }
  }
}

button {
  position: relative;
  //display:block;
  height: 50px;
  width: 210px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: rgb(24, 24, 24);
}

.fill:before {
  content: "";
  position: absolute;
  background: #f3f3f3;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top .2s ease-in;
}

.fill:hover:before {
  top: 0;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: inherit;
  border: none;
  height: 100%;
  margin: auto;
  padding: 0;
  width: 95%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}

/* The Close Button */
.close {
  position: fixed;
  right: 0;
  box-shadow: 0px 0px 5px silver;
  color: rgb(255, 20, 20);
  float: right;
  font-size: 38px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50px !important;
  margin: 0 .5rem;
  background: rgb(255, 255, 255);
  z-index: 100000000;
  text-align: center;
}

.close:hover,
.close:focus {
  color: rgb(255, 163, 163);
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



/*Settings for the loader*/

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000000000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .9)), url('../images//loader-bg.jpg') ;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  color: #fff;
}
@keyframes load {
  0%{
      opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
      }
  100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
      }
}

.animate {
display:flex;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: Helvetica, sans-serif, Arial;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px rgb(68, 51, 51);
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
    height: 120px;
  }

  .title-bar {
    grid-template-columns: repeat(3, 1fr);
    &__head {
      font-size: 36px;
    }

    &__button {
      justify-content: right;
      background: inherit;
      color: #fff;
      margin-top: .75rem;
      &-bg{
        display: block;
      }
    }
  }
  .section {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    justify-content: right;
    height: calc(100vh - 145px);
    &-map {
      display: grid;
      place-items: center;
      padding: 1rem;
      min-height: 250px;
    }
    &-stats {
      display: grid;
      width: 300px;
      margin-top: 100px;
      position: absolute;
      right: 0 !important;
      left: calc(100% - 300px);
      height: calc(100% - 115px);
    }
  }
  .modal-content {
    width: 60%;
  }
  .modal-body__countries-country {
    grid-template-columns: 0.5fr 3fr;
  }
}

#map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
